@charset "utf-8";
/* CSS butacas del teatro*/
.butacaReservada, .butacaLibre, .butacaOcupada{
	width:32px;
	height:32px;
	margin:auto;
}
a{
	text-decoration:none; 
}
a .butacaReservada, a .butacaLibre, a .butacaOcupada{
	color:black;	
	font-size:15px;
	line-height:27px;  
}
.butacaReservada{
	background-image:url(../imagenes/butacaReserva.png);
}
.butacaLibre{
	background-image:url(../imagenes/butacaLibre.png);
}
.butacaLibre:hover {
	background-image:url(../imagenes/butacaReserva.png);
	cursor:pointer;
}
.butacaOcupada{
	background-image:url(../imagenes/butacaOcupada.png);
}
#butacasAnfiteatro{
	border: 4px solid black;
	border-bottom: 0px solid black;
	position:absolute;
	height:40%;
	width:100%;
	top:0px;	
	left:0px;
}
#butacasPlatea{
	border: 4px solid black;
	border-right: 0px solid black;
	position:absolute;
	height:60%;
	width:70%;
	top:40%;	
	left:15%;
	vertical-align:bottom;
}
#butacasPalco1{
	border: 4px solid black;
	position:absolute;
	height:30%;
	width:15%;
	top:70%;	
	left:85%;
}
#butacasPalco2{
	border: 4px solid black;
	border-right: 0px solid black;
	position:absolute;
	height:30%;
	width:15%;
	top:70%;	
	left:0px;
}
#butacasPalco3{
	border: 4px solid black;
	border-bottom: 0px solid black;
	position:absolute;
	height:30%;
	width:15%;
	top:40%;	
	left:85%;
}
#butacasPalco4{
	border: 4px solid black;
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	position:absolute;
	height:30%;
	width:15%;
	top:40%;	
	left:0px;
}
table{
	width:100%;
	height:90%;
	text-align:center;
	padding:1px;
}
.secciones{
	color:pink;
	margin:0px;
	padding:0px;
}

	


