@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
	cursor:default;
}
h2{
	color:rgba(255,255,255,1);
	text-align:	center;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
h3{
	color:rgba(255,255,255,1);
	text-align:	center;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
body{
	background-image:url(../imagenes/fondoraro.png);
	background-size: 100%;
}
#capacontenedora{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: -480px;
	width: 960px;
	position:absolute;
	top: 0px;
	left:50%;
	height:680px;	
	z-index:1;
	}
#capamenu{
	position:relative;
	height:auto;
	z-index:1;
	}
#capadetalles{		
	background-color:#99F;
	position:relative;
	height:120px;
	width:150px;
	margin-left:-60px;	
	left:50%;	
}
#capadetalles2{		
	background-color:#99F;
	position:relative;
	height:120px;
	width:150px;
}
#capacontenedoraobrasquery{	
	position:relative;
	height:600px;
	width:300px;
	margin-left:-150px;	
	left:50%;	
}
#capaobraindividual{
	background-color:#CF3;
	position:relative;
	height:150px;
	width:150px;
	margin-left:-75px;	
	left:50%;	
	}
#imagenobraquery{
	background:#CFF;
	width:30px;
	height:30px;
	/*src:"";*/
}
#capacalendarioyhora{
	position:relative;
	height:350px;
	width:216px;
	top:-3px;		
}
#contenedoraCapaCalendario{
	background: -webkit-linear-gradient( #F90, #F60);
   	background: -moz-linear-gradient(  rgba(108,0,0,1), rgba(153,0,0,1));
   	background: -o-linear-gradient( #999, #666);
	border: 4px solid black;
	position:relative;
	height:350px;
	width:952px;
	margin-left:1px;	
	margin-top:30px;
	top:0px;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);			
}
#capahoras{	
	position: relative;
	width: 50px;
	top: 20px;
	left: 45px;
}
#capaobras{
	border-left: 4px solid black;
	position: absolute;
	width: 732px;
	height:350px;	
	left: 216px;
}
#capatituloobra{
	margin: 3px;
	position: relative;
	top:0px;
	left:0px;
	font-size:25px;
	word-wrap: break-word;
	text-align:center;
	color:white;
}
#capafechas{	
	position: relative;
	top: 5px;
	left: 0px;
}
#capabutton{	
	position: relative;
	width: 50px;
	top: 40px;
	left: 150px;
}
/*menú*/
header{	
	width:960px;
	height:200px;		
}
div.contenedor{
	width: 192px;
	height: 200px;
	float:left;
	transition: height .4s;
}
div#uno{	
	border-top-left-radius: 50%;
	background-image:url(../imagenes/capa1.png);	
}
div#dos{
	background-image:url(../imagenes/capa2.png);	
}
div#tres{
	background-image:url(../imagenes/capa3.png);		
}
div#cuatro{
	background-image:url(../imagenes/capa4.png);	
}
div#cinco{	
	border-top-right-radius: 50%;
	background-image:url(../imagenes/capa5.png);
}
/*footer*/
#capaFooter{
	background: -webkit-linear-gradient(#F90, #9B0000);
   	background: -moz-linear-gradient(#F90, #9B0000);
   	background: -o-linear-gradient(#F90, #9B0000);
	position:absolute;
	bottom:0px;
	height:50px;
	width:960px;
	margin-bottom:15px;
	border-bottom-right-radius: 4em;
	border-bottom-left-radius: 4em;
	border-top-color:#000;
	border-top-style:solid;
	border-top-width:4px;
	border-bottom-color:#000;
	border-bottom-style:solid;
	border-bottom-width:4px;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
#imagenCandado{
	position:relative;
	width:50px;
	height:50px;
	bottom:23px;
	left:850px;
	}
/*efectos */
img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:40px;
	padding:20px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	transition:box-shadow .4s;	
}

p.texto{
	font-size: 1.2em;
	text-align: center;
	transition: padding-top .4s;
	color:rgba(255,255,255,1);	
}

div.contenedor:hover{
	height:232px;
}

div.contenedor:hover p.texto{
	padding-top: 20px;
	font-size: 1.8em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

div.contenedor:hover img.icon{
	box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);	
}
/*capa de claves de administrador*/
#entradaAdmin{
	background-image:url(../imagenes/entraradmin.png);
	position:relative;
	left:50%;
	margin-left:-150px;
	top:20px;
	height:300px;
	width: 300px;
	}
div#entradaAdmin p{
	color:rgba(0,0,0,1);
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;	
}
#user{
	position:relative;
	left:25%;
	top:140px;
}
#pass{
	position:relative;
	left:25%;
	top:150px;		
}
#submit{
	position:relative;
	left:40%;	
	top:170px;
}
/*productos de pops*/
#palomita1{	
	background-image:url(../imagenes/palomitas1.png);
	position:absolute;
	left:20%;
	top:10px;
	height:150px;
	width: 150px;
	box-shadow: 0px 0px 10px 4px #993300;;
	border-style:solid;
	border-width:2px;
	border-color:#993300;
	transition: 2.5s ease;
	-moz-transition: 2.5s ease; 
 	-webkit-transition: 2.5s ease; 
 	-o-transition: 2.5s ease;
}
#palomita2{
	background-image:url(../imagenes/palomitas2.png);
	position:absolute;
	left:40%;
	top:10px;
	height:150px;
	width:150px;
	box-shadow: 0px 0px 10px 4px #FF6666;
	border-style:solid;
	border-width:2px;
	border-color:#FF6666;
	transition: 2.5s ease;
	-moz-transition: 2.5s ease; 
 	-webkit-transition: 2.5s ease; 
 	-o-transition: 2.5s ease;
}
#palomita3{
	background-image:url(../imagenes/palomitas3.png);
	position:absolute;
	background-position:center;
	background-size:100%;
	background-repeat:no-repeat;
	left:60%;
	top:10px;
	height:150px;
	width: 150px;
	box-shadow: 0px 0px 10px 4px rgba(255,204,51,1);
	border-style:solid;
	border-width:2px;
	border-color:rgba(255,204,51,1);
	transition: 2.5s ease;
	-moz-transition: 2.5s ease; 
 	-webkit-transition: 2.5s ease; 
 	-o-transition: 2.5s ease;
}

#refresco1{
	background-image:url(../imagenes/refresco1.png);
	position:absolute;
	left:20%;
	top:180px;
	height:150px;
	width: 150px;
	box-shadow: 0px 0px 10px 4px #993300;
	border-style:solid;
	border-width:2px;
	border-color:#993300;
	transition: 2.5s ease;
	-moz-transition: 2.5s ease; 
 	-webkit-transition: 2.5s ease; 
 	-o-transition: 2.5s ease;
}
#refresco2{	
	background-image:url(../imagenes/refresco2.png);
	position:absolute;
	left:40%;
	top:180px;
	height:150px;
	width:150px;
	box-shadow: 0px 0px 10px 4px #FF9900;
	border-style:solid;
	border-width:2px;
	border-color:#FF9900;
	transition: 2.5s ease;
	-moz-transition: 2.5s ease; 
 	-webkit-transition: 2.5s ease; 
 	-o-transition: 2.5s ease;		
}
#refresco3{	
	background-image:url(../imagenes/refrescos3.png);
	background-position:center;
	background-size:100%;
	background-repeat:no-repeat;	
	position:absolute;
	left:60%;
	top:180px;
	height:150px;
	width: 150px;
	box-shadow: 0px 0px 10px 4px #FFFF66;
	border-style:solid;
	border-width:2px;
	border-color:#FFFF66;
	transition: 2.5s ease;
	-moz-transition: 2.5s ease; 
 	-webkit-transition: 2.5s ease; 
 	-o-transition: 2.5s ease;	
}
#contenedoraCapaCalendario div#palomita1:hover,div#palomita2:hover,div#palomita3:hover,div#refresco1:hover,div#refresco2:hover,div#refresco3:hover{
	transform : rotate(360deg);	
	-moz-transform : rotate(360deg);	
	-o-transform : rotate(360deg);	
	-webkit-transform : rotate(360deg);	
	}