@charset "utf-8";
/* CSS Document parte reservas*/

#capabutacasReservadas{
	padding-left:30px;
	position: relative;
	top:0px;
	left:0px;
	font-size:20px;
	word-wrap: break-word;
	text-align:left;
	color:white;
	font-style:italic;
}
#capaIzquierda{
	position:absolute;
	float:left;
	top:0;
	left:0;
	height:100%;
	width:33%;
}
#capaCentral{
	position:absolute;
	top:0;
	left:33%;
	height:100%;
	width:34%;
	overflow:auto;
}
#capaDerecha{
	position:absolute;
	top:0;
	left:67%;
	height:100%;
	width:33%;
}
#capaCartel{
	position:relative;
	top:0px;
	height:75%;
	width:90%;
	left:5%;
}
h1.titulos{
	color:white;
	padding:15px;
	word-wrap: break-word;
	text-align:center;
}
#txtDNI{
	height:50px;
	width:80%;
	font-size:50px;
}
#capaDNI{
	position:relative;
	top:90px;
	left:0;
	height:200px;
}
#btnComprar{
	position:relative;
	top:40px;
	left:40px;
	font-size:30px;
}

